header {
    background-color: orange;
}
h1{
    border: 2px solid orange;
    border-radius: 10px;
}
h3 {
    background-color: orange;
    color: #9c8e10;
    border-radius: 10px;
    padding: 5px
    

}

.container {
    margin: auto;
    max-width: 30%;
    display: flex;
    flex-direction: column;
    border: 2px solid orange;
    border-radius: 10px;
    padding: 20px;
   
}

.container input, textarea, div {
    padding: 3px;
    margin: 3px;
}

.container input{
    border: 2px solid orange;
    border-radius: 10px;
}
textarea{
    background-color: orange;
    border:2px solid orange;
    border-radius: 10px;
    
}
button{
    background-color: orange;
    border-radius: 10px;
    border:2px solid orange
}
.container1{
        margin: auto;
        max-width: 40%;
        width: 275px;
        display: flex;
        flex-direction: column;
        border: 2px solid orange;
        border-radius: 10px;
        padding: 4px;
       
    }
    .container3 {
        
        
        display: flex;
        flex-direction: column;
        border: 2px solid orange;
        border-radius: 10px;
        padding: 20px;
       
    }
